body {
    background: rgb(198, 245, 198);
}
h1 {
    margin-left: 36%;
}

#zapis {
    position: absolute;
    left: 50%;
    transform: translate(-50%);
}
td {
    border: 1px solid black;
    background: white;
}